{
  "extends": ["airbnb", "airbnb/hooks", "react-app", "plugin:prettier/recommended"],
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js"]
      }
    ],
    "react/prop-types": 2
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  },
  "globals": {
    "window": true,
    "document": true
  }
}